
@media (max-width:960px) {

    .nav{
        width: 100%;
    }

    #div2{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    #div2 > p{
        width: 45vw;
    }

    #div3 > img{
        display: none;
    }
    
    #place_block{
        flex-direction: column;
    }

    .txt_info{

        width: 35vw;
        font-size: 2vw;
    }

  
    .block_mob > img{
        width: 40vw;
        height: 30vw;
    }
    #info_etu{
        flex-direction: column;
    }
    .imag_velo1{
        margin-top: 2vw;
    }
}


@media (max-width:450px){

    .nav{
        width: 100%;
    }

    #div2{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
    #div2 > p{
        width: 70vw;
        text-align: center;
    }


    #div3 > img{
        display: none;
    }

    #rep{
        font-size: 2.8vw;
    }
    #div4{
        width: 85vw;
    }
    #elem_left{
        width: 55vw;
        padding: 1vw;
    }
    #p3_acceuil{
        font-size: 3.5vw;
    }
    #p4_acceuil{
        font-size: 2.4vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    #place_block{
        flex-direction: column;
    }

    .txt_info{
        width: 60vw;
        font-size: 2.8vw;
    }
    
    #point_environnement > p{
        padding: 2vw;
        width: 82vw;
        height: 33vw;
        font-size: 2.1vw;
        padding: 1vw;

    }
  
    .block_mob > img{
        width: 65vw;
        height: 43vw;
    }
    #titre_info_etu{
        border: 1px solid #000;
    }
    .titre_tab{
        color: black;
    }
    #titre_form{
        width: 44vw;
        font-size: 2.5vw;
    }
}




