/*font face*/

@font-face {
    font-family:Open_Sans;
    src: url('./Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}


/*Style de la page*/
*{
    margin : 0;
    padding:0;
    text-decoration:none;
    list-style:none;
    font-family: Open_sans;
}

/*Menu de navigation*/
.nav{
    display:flex;
    width:99vw;
    box-sizing: border-box;
    align-items: center;
    background-color: #D5F3D0;
    height: 6vw;
}
.logo{
    width:4vw;
    height: 4vw;
    display:flex;
    padding :0.6vw;
    margin: 0.3vw;
}
.nav .links ul{
    display:flex;
    margin-left: 2.5vw;
}
.nav .links ul li{
  margin: 0vw 11vw;
}
.nav a{
    font-size: 2.3vw;
    font-weight: bold;
    color:rgb(0, 0, 0);
}

.nav a:hover{
    color:rgb(255, 255, 255);
}
/*PAGE ACCUEIL*/


#haut_body{
    background-image : url("./assets/background_tram.png");
    background-repeat: no-repeat;
    background-size: 100vw 25vw;
}

#titre_accueil{
    background-color: #D5F3D0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 75vw;
    margin-top: 17vw;
    height: 26vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

h1{
    font-size: 4.5vw;
    text-align: center;
    padding: 2vw;
}

h2{
    font-size: 2vw;
    text-align: center;
    padding-left:1.2vw ;
    padding-right: 1.2vw;
}

#div_1{
    margin-top: 50vw;
    display: flex;
    flex-direction: row;
}

#div2{
    margin-top: 12vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#velo1{
    width: 40vw;
    height: 28vw;
}

#p2_accueil{
    text-align: center;
    font-size: 1.9vw;
    width: 50vw;
    display: flex;
    text-align: left;
    padding: 1vw;
    font-weight: bold;
}

#div3 > img{
    width: 19vw ;
    height: 25vw;
    padding-right: 4vw;
}
#div3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 7vw;
    margin-bottom: 10vw;
}

#question{
    background-color: #D5F3D0;
    font-weight: bold;
    text-align: center;
    align-items: center;
    border-radius: 2vw;
    font-size: 2.5vw;
    width: fit-content;
    padding: 1vw;
    margin-bottom: 4vw;

}

#rep{
    font-size: 2.5vw;
    display: flex;
    width: 60vw;
    text-align: center;
}

#div4{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #A6F4C0;
    background: #85E5BD;
    width: 70vw;
    height: 35vw;
    margin: auto;
    margin-bottom: 8vw;
}

#elem_left{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 35vw;
    padding: 1vw;
}

#p3_acceuil{
    font-weight: bold;
    font-size: 2.5vw;
}
#p4_acceuil{
    font-size: 1.8vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
#bouton1{
    background-color: #F1101E;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    width: 20.5vw;
    height: 3.25vw;
    font-size: 1.8vw;
    padding: 0.5vw;
    display: flex;
    text-align: center;
    text-decoration: none;
}
.bout{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;

}
#map{
    width: 28vw;
    padding: 1vw;
}
/*PAGE MOBILITE*/

#place_block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.txt_info{
    background-color: #D5F3D0;
    width: 30vw;
    font-size: 1.2vw;
    padding: 1vw;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #000;
}

#point_environnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#point_environnement > p{
    padding: 1vw;
    width: 80vw;
    height: 16vw;
    color: #000;
    text-align: center;
    font-size: 1.6vw;
    background-color: #C8FDAE;
    border-radius: 10px;
    font-weight: 600;
}

#point_environnement > img{
    margin-top: 2vw;
    margin-bottom: 3vw;
    width: 27vw;
    height: 14vw;
}

.block_mob{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vw;
}

.block_mob > img{
    width: 30vw;
    height: 20vw;
    border: 2px solid #000;
}

#titres_mobilite{
    background-image : url("./assets/velo_background.jpg");
    background-repeat: no-repeat;
    background-size: 55vw ;
    background-position: top 3vw center;
    height: 23vw;
    margin-top: 2vw;
    color: white;
    padding-top: 2vw;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#titres_mobilite > h1{
    font-size: 3vw;
    width: 30vw;
}
#titres_mobilite > h2{
    font-size: 1.5vw;
    width: 30vw;
}
.info1{
    margin-top: 2vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8vw;
    margin-top: 2vw;
}
.soulignement1{
    text-decoration:underline #D5F3D0 0.3vw;
}
.soulignement2{
    text-decoration:overline #D5F3D0 0.3vw;
}


#map_mobilite{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
    margin-bottom: 5vw;
}
#map_mobilite > h3{
    text-align: center;
    border-radius: 50px;
    width: 65vw;
    background: #71AD54;
    font-size: 2.8vw;
    font-weight: 600;
    margin-bottom: 3vw;
    padding: 1vw;
}

#map_mobilite > iframe{
    width:50vw ;
    height:40vw ;
}


/*Les trarifs*/
#titres_tarif{
    background-image : url("./assets/tram6.jpg");
    background-repeat: no-repeat;
    background-size: 55vw ;
    background-position: top 2vw center;
    height: 23vw;
    margin-top: 2vw;
    color: white;
    padding-top: 2vw;
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-family: Inter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#titres_tarif > h1{
    padding-bottom: 11vw;
    font-size: 3vw;
}
#titres_tarif > h2{
    font-size: 2vw;
}
table tr th {
    background-color:#81D463;
}
table tr td{
    background-color: #E2EFDA;
}
table td{
    padding: 0.5vw;
}
table tr td th{
    border:2px solid black;
    border-collapse:collapse;
}
table{
    font-size: 1.3vw;
}
#tab1{
    margin-top: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5vw;
}
.titre_tab{
    padding: 1vw;
    border-radius: 15px;
    background: #81D463;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 2.5vw;
}
#tab1 > table{
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
}
#tab2{
    margin-top: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5vw;
}
#tab2 > table{
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
}
#info_etu{
    margin-top: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2vw;
}
#text_info_etu{
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    padding-right: 4vw;
}
#titre_info_etu{
    border: 3px solid #000;
    background: #00A832;
    width: 25vw;
    font-size: 2vw;
}
#text_info_etu > p{
    font-size: 1.9vw;
    width: 45vw;
    padding-top: 1vw;
}
#text_info_etu > button{
    margin-top: 1vw;
    width: 12vw;
    font-size: 1.5vw;
    padding: 0.5vw;
    border-radius: 12px;
    background: #00A832;
}
#info_etu > img{
    width: 42vw;
}
#av_etu{
    margin-top: 4vw;
    display: flex;
    flex-direction: column;
}
#av_etu > h3{
    align-self: center;
    background-color: #95D279;
    text-align: center;
    width: 60vw;
    height: 4vw;
    font-size: 2.4vw;
    border-radius: 12px;
}
.lien_inscription{
    width: 150px;
}
#lien_freevelov{
    border-radius: 12px;
    background: #00A832;
    width: 40vw;
}
#titre_avantages{
    margin-top: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #95D279;
    border-radius: 12px;
    font-size: 2.2vw;
    width: 35vw;
    text-align: center;
    text-transform: uppercase;
}
.ligne{
    margin-top: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#precision{
    margin-top: 1vw;
    margin-bottom: 4vw;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.4vw;
    text-align: center;
}
.list_av_etu{
    padding: 0.5vw;
    font-size: 1.4vw;
    border: 2px solid #000;
    background: #96B389;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 28vw;
    padding: 1vw;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}
.list_av_etu > p{
    padding: 0.5vw;
}
#titre_form{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 42vw;
    background-color:#ABE098 ;
    padding: 0.5vw;
    border-radius: 25px;
    font-size: 2.5vw;
}

#formulaire{
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BBF0CA;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 5vw;
    margin-bottom: 5vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nom{
    width: 14.5vw;
}

#haut_form{
    display: flex;
    flex-direction: row;

    height: 6vw;
}

#h_from_g{
    display: flex;
    flex-direction: row;

}

#bas_form{
    display: flex;
    flex-direction: column;

}

#bouton_form{
    margin-top: 1vw;
    width: 40vw;
    height: 11.2vw;
    background: rgba(16, 150, 46, 0.41);
    color: #100505;
    font-size: 2vw;
    border: none;
    border-radius: 9px;
}

#bouton_form:hover{
    transition: 500ms;
    background: rgba(16, 150, 45, 0.816);
    color: white;
}


#email{
    width: 32vw;
}

input{
    border: none;
    border-radius: 9px;
    margin: 1vw;
    padding: 0.5vw;
    height: 4vw;
    font-size: 1.1vw;
}
#objet{
    width: 73vw;
}


#message{
    width: 73vw;
}

/*Footer*/

footer{
    background-color: #A0C29A;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5vw;
    padding: 1vw;
}


#liste_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo2{
    width:5vw;
    height: 5vw;
    display:flex;
    padding-top:0.8vw;
    margin: 0.3vw;
}
.insta{
    width: 3vw;
    height: 3vw;
}
.linkedin{
    width: 2.5vw;
    height: 2.5vw;
}
.twitter{
    width: 3vw;
    height: 3vw;
}